.Pagination {
  padding-top: 10px;
}

.Pagination li{
  display: inline-block;
}

.Pagination li > a{
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.Pagination li > :focus{
  outline: none;
}

.Pagination li.active > a{
  background: #1ba94c;
  color: #FFF;
}

.Pagination li.disabled > a{
  opacity: 0.6;
  cursor: not-allowed;
}

.Pagination li.previous > a{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Pagination li.next > a{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Pagination li.break{
  padding-left: 5px;
  padding-right: 5px;
  color: #CCC;
}