.SearchBar {
  display: flex;
  justify-content: space-between;
}

.SearchBar__left .react-datepicker__input-container > input {
  padding: 8px;
  width: 250px;
}
.SearchBar__left .react-datepicker__input-container .react-datepicker__close-icon::after {
  background: #1ba94c;
}

.SearchBar__left > div {
  display: inline-block;
  padding-right: 10px;
}

.SearchBar__searchField {
  padding: 8px;
  width: 250px;
}

.SearchBar__searchBtn {
  background: #1ba94c;
  border-color: #1ba94c;
  color: #FFF;
  padding: 8px;
}

.SearchBar__searchBtn:focus {
  outline: none;
}