.Header {
  background-color: #3a424e;
  height: 60px;
  padding: 20px 0;
  color: white;
}

.Header__logo {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  margin-left: -5px;
}

.Header__title {
  display: inline-block;
  font-size: 1.2em;
}