.CampaignList {
}

.CampaignList__table {
  width: 100%;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.CampaignList__table th {
  font-weight: bold;
}

.CampaignList__table th, .CampaignList__table td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
}

.CampaignList__table > thead {
}